<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MAMUT_ID" value="1" />
    <add key="MAMUT_START_VALUE" value="1" />
    <add key="MAMUT_MAX_VALUE" value="2000" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Pooling=true;User Id=sa;Password=DCe2YKEf;Database=Jobbplaneraren;Server=(local)" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringMamut" connectionString="Pooling=true;User Id=mamutapi;Password=DCe2YKEf;Database=Client00010001;Server=SPISAB-MA01\MAMUT" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <pages styleSheetTheme="DefaultTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <siteMap defaultProvider="ReviewSiteMap">
      <providers>
        <add type="ReviewSiteMapProvider" name="ReviewSiteMap" connectionStringName="ReviewsConnectionString"/>
      </providers>
    </siteMap>
    <globalization culture="sv-SE"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
      <remove name="UrlAuthorization"/>
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
      <remove name="DefaultAuthentication"/>
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule"/>
    </modules>
  </system.webServer>
</configuration>